header,
footer,
.timeline__line,
.btn {
    display: none;
}

body {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.print {
    display: flex;
    order: 1;
    align-self: center;
}

.col {
    max-width: 150px;
}

div.col h2 {
    font-size: 16px !important;
}

main {
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    border: #F73859;
    padding: auto;
    margin: auto;
}

.sidebar {
    position: inherit;
    border: none;
}